@media (min-width:550px) {
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        color: antiquewhite;
        flex-direction: column;
        
    }
    .text{
        border-radius: 20px;
        height: 3rem;
        width: 20rem;
    }
    .butt{
        border-radius: 20px;
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 20px;
        cursor: pointer;
        background-color: rgb(88, 88, 99);
        color: aliceblue;
        margin-bottom: 20px;

    }
    
    
}

